body {
    display: inline-block;
}

li {
    display: inline;
    margin: 2em;
}
.navLeft li {
    margin:-1rem;
}


.navbar {
    height: 3rem;
    border: 1px solid red;
}

.navLeft {
    float: left;
    font-size: 24px;
    margin-top: 10px;
}
.navRight {
    float: right;
}

.topContainer {
    height: 21.875rem;
    border: 1px solid black;
    text-align: center;
}
.mainText { 
    margin-top: 7.813rem;
}
.about {
    height: 300px;
    border: 1px solid blue;
}
.about p {
    margin: 50px;
}

.projects {
    display: inline-block;
    height: 38rem;
    border: 1px solid black;
}
.projects p {
    margin: 1.5rem;
}
.project1, .project2, .project3, .project4 {
    height: 9.375rem;
    border: 1px solid green;
}

.skills, .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    margin-left: .5rem;
}
h3 {
    margin-left: 1rem;
}